# venv\Scripts\activate <---- To activate the virtual environment on Windows
# source venv/bin/activate <---- To activate the virtual environment on macOS/Linux
# pip install -r requirements.txt
numpy
pandas
matplotlib
scipy
scitkit-learn
faiss-cpu      # use faiss-gpu instead if you have CUDA + GPU
networkx
torch
pinecone
jupyter
notebook
ipykernel